
.displayControl {
    border: aqua 3px solid;
    border-radius: 15px;
    margin: 60px;
    width: 300px;
    height: 200px;
    display: flex;


    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.displayControl__header {

    border: aqua 3px solid;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 10px;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.displayControl__footer {
    border: aqua 3px solid;
    border-radius: 10px;

    padding: 10px;

    display: flex;
    justify-content: space-evenly;

}

.displayControl__value {
    display: flex;
    justify-content: space-evenly;

}

.displayControl__value .displayControl__value_maximalOrIncorect {
    color: orangered;
}